.ocean{
    height: 300px;
    width: 100%;
    background-image: linear-gradient(rgba(255, 165, 0, 1), rgba(0, 71, 240, 1));
    bottom: 0;
    align-items: center;
    position: absolute;
}

body{
    background-image: linear-gradient(rgba(0, 215, 255, 1), rgba(255, 140, 80, 1));
    overflow: hidden;
}

.ocean{
    color: blue
}

.sun{
    height: 600px;
    width: 900px;
    background-color: yellow;
    align-items: center;
    border-radius: 50%;
    position: relative;
    margin: auto;
    padding: 10px;
    top: 420px;
}

.boat {
    position: absolute;
    bottom: 150px;
    left: 50%;
    width: 200px;
    height: 150px;
}

.hull {
    position: absolute;
    bottom: 0;
    width: 200px;
    height: 40px;
    background-color: #3b271d;
    border-radius: 0 0 20px 20px;
}

.mast {
    position: absolute;
    bottom: 40px;
    left: 50%;
    width: 6px;
    height: 70px;
    background-color: #a05e2b;
}

.sail {
    position: absolute;
    bottom: 40px;
    left: 50%;
    width: 0;
    height: 0;
    border-left: 0 solid transparent;
    border-right: 50px solid transparent;
    border-bottom: 50px solid white;

}

.cabin {
    position: absolute;
    bottom: 40px;
    left: 20px;
    width: 50px;
    height: 30px;
    background-color: #8b4513;
    border-radius: 5px;
}

.window1, .window2 {
    position: absolute;
    width: 10px;
    height: 10px;
    background-color: lightblue;
    border-radius: 50%;
    bottom: 50px;
}

.window1 {
    left: 25px;
}

.window2 {
    left: 40px;
}

.flag {
    position: absolute;
    bottom: 110px;
    left: 50%;
    width: 20px;
    height: 10px;
    background-color: black;
}

