* {
    box-sizing: border-box;
}

body {
    display: flex;
    background-color: #0A1045;
    height: 100vh ;
    justify-content: center;
    align-item: center;
    margin: 0;
}

.container {
    display: flex;
    width: 90vw
}

.panel {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 80vh;
    margin: 10px;
    border-radius: 25px;
    flex: 1;
    Color: white;
    Cursor: pointer;
    Position: relative;
    Transition: all 1s ease-in;

}

.panel h3 {
    Font-size: 24px;
    Position: absolute;
    Bottom: 20px;
    Left: 20px;
    Margin: 0;
    Opacity: 0;
    Transition: opacity .4s ease-in .6s;
}


.panel.active {
    Flex: 10;
}

.panel.active h3 {
    Opacity: 1;
}




