*{
    box-sizing: border-box;
}

@import url();

@font-face {
    font-family: 'Nintend Bold';
    font-style: normal;
    font-weight: normal;
    src: local('Nintend Bold'), url('NintendBoldRM8E.woff') format('woff');
    }

h1{
    justify-content: center;
    position: absolute;
    height: 100vh;
    width: 100vw;
    display: flex;
    font-family: 'Nintend Bold';
}


