*{
    box-sizing: border-box;
}
body {
    background: navajowhite;
    display: flex; /* Uses Flexbox which responds to different screen sizes */
    align-items: center; /* Vertically center */
    justify-content: center; /* Horazontally center */
    height: 100vh; /* Setting bodu height to 100% */
    margin: 0;
}

.search {
    position: relative;
    height: 30px;
}


.search .input{
    height: 30px;
    width: 30px;
    font-size: 18px;
    padding: 5px;
    background-color: white;
    transition: width .5s ease;
}


.btn{
    background-color: white;
    font-size: 15;
    height: 30px;
    width: 30px;
    cursor: pointer;
    position: absolute;
    top: 0;
    left: 0;
    transition: transform .5s ease;
}

.search.active .input{
    width: 200px;
}

.search.active .btn {
    transform: translateX(198px);
}


.btn:focus, .input:focus {
    outline: none;
}
