*{
    box-sizing: border-box;
}
body {
    background: navajowhite;
    display: flex; /* Uses Flexbox which responds to different screen sizes */
    align-items: center; /* Vertically center */
    justify-content: center; /* Horazontally center */
    height: 100vh; /* Setting bodu height to 100% */
    margin: 0;
}

.search .input{
    height: 30px;
    width: 200px;
    font-size: 18px;
    padding: 5px;
    background-color: white;
}


.btn{
    background-color: white;
    font-size: 15;
    height: 30px;
    width: 30px;
}
