.sand{
    height: 300px;
    width: 300px;
    background-color: yellow;
    bottom: 0;
    align-items: center;
    position: absolute;
}

.sky{
    color: linear-graadient(blue,pink)
}

.ocean{
    color: blue
}

.sun{
    height: 300px;
    width: 300px;
    background-color: yellow;
    top: 0;
    bottom: 0;
    align-items: center;
    border-radius: 50%;
    position: absolute;
}
